#About-Us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

#About-Us > iframe {
  margin-top: 50px;
  max-width: 560px;
  width: 100%;
}
