#Archives {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;
}

.card {
  background-color: white;
  width: 52rem /*calc(100% / 3.7)*/;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}


.card__button {
  font-size: 28px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

svg {
  float: right;
}

.card__button--active + .card__content { display: block; }

.arrowVisibility {visibility: visible;}

.card__content {
  display: none;
  overflow: auto;
  font-size: 14px;
}

.events {
  font-size: 18px;
  font-weight: 1000;
  flex: 6;
}

.dates {
  font-size: 18px;
  font-weight: 400;
  flex: 4;
}

.participation {
  font-size: 18px;
  font-weight: 400;
  flex: 6;
}

.activities {
  display: flex;
}

.positions {
  font-size: 16px;
  font-weight: 400;
  min-width: 7rem;
  flex: 2;
  text-align: right;

  width: 2rem;
}

.names {
  padding-left: 1rem;
  font-size: 16px;
  font-weight: normal;
  flex: 8;
}

.team {
  display: flex;
}

@media (max-width: 800px) {
  .card {
    width: 90%;
    margin: 0.5rem auto;
  }
}

.members {
  list-style-type: none;
  padding : 0 !important;
}

.members li {
  padding: 0;
}