html {
  font-size: 14px;
}

@font-face {
  font-family: 'Myriad Pro';
  src:  url('../resources/font/MyriadPro-Regular.woff') format('woff');
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Myriad Pro';
}