body {
  background-color: white;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.nav-link {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #c0c4cc;
  color: #171b1d;
  border-radius: 0.8rem;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: rbg(0, 0, 240, 0.3);
  cursor: pointer;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: #333c41;
}

.logopic {
  height: 48px;
}

.navlist {
  float: right;
  line-height: 48px;
  margin-right: 10px;
}

@media (max-width: 720px) {
  nav {
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.social {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  justify-content: space-around;
  border-radius: 1rem;
  background-color: white;
}

.icon {
  padding-top: 1rem;
}

@media (max-width: 720px) {
  .navlist {
    text-align: center;
  }
}