#Upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;

  /* overflow: hidden; */
}

body {
  font-size: 14px;
}

.card {
  display: flex;
  background-color: white;
  width: 52em;
  margin-top: 1em;
  border-radius: 1em;
  padding: 1em;

  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* background-color: yellow; */
}

@media (max-width: 720px) {
  #event {
    flex-direction: column;
  }
  .card {
    width: max-content;
    margin: 1em;
  }

  #feli-debate {
    margin-top: 5em;
  }

  .up-hide {
    display: none;
  }

  #up-himg {
    display: none;
  }

  .up-btn {
    margin-left: 0em !important;
  }

  /* .up-logo {
    background-color: #a1178a;
  } */
}

.image {
  width: 40%; /*not working with em or rem*/
  max-height: 100%;
  float: left;
  /* margin: 0.6em; */
  padding: 0em 1em 0 0;

  display: flex;
  align-items: center;

  overflow: hidden;

  /* background-color: orange; */
}

.image > img{
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}

/************************/
.up-content {
  font-weight: 500;
  width: 30em;
}

.up-heading {
  font-size: 28px;
  font-weight: bold;

  padding: 0em 0 1rem 0;
  position: relative;
}

.up-btn {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  padding: 0.5em 1em;
  
  border: none;
  border-radius: 0.3em;
  background-color: rgb(43, 179, 54);
  color: white;

  /* background-color: blueviolet; */
}

.up-ddline {
  font-size: 18px;
  font-weight: bold;

  flex: 1;
  padding: 0.5em 0;  
}

.up-logo {
  position: relative;
  float: right;

  padding-left: 1.5rem;
}

.up-bottom {
  display: flex;
  align-self: flex-end;

  margin-top: 1em;
}