body {
  margin: 0px;
}

html {
  font-size: 10px;
}

.gridContainer{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
      "header header header"
      "content content content"
      "footer footer footer";
}

#navbar {
  overflow: hidden;
  background-color: #333c41;
  margin: 0px;
  font-size: 16px;
  height: 40px;
  grid-area: header;
}

.Content{
  grid-area: content;
  height: 200vh;
  width: 100vw;
  background-color: orangered;
  overflow: hidden;
  /* overflow-y: scroll; */
}

 .bottomBar{
   height: 50px;
   background-color: black;
   grid-area: footer;
 }

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 18px;
  padding: 6px 14px;
  margin: 5px 6px;
  border-radius: 7px;
  text-align: center;
}

#navbar a:hover {
  background-color: whitesmoke;
  color: #333c41;
}

img {
  height: 40px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
